## Ignore Mac OS Stuff
.DS_Store
.DS_Store?
.idea
.idea?
.AppleDouble
.LSOverride
.Trashes
ehthumbs.db
Thumbs.db
._*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

# Unnecessary files or folders
zip/