/* [Core] - Buttons
------------------------------------------------------------------ */

@mixin button-expand($expand: true) {
    @if $expand {
        display: block;

        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }

    @else {
        display: inline-block;

        width: auto;
    }
}

@mixin button-core() {
    display: inline-block;

    font-family: $global-font-family;

    border: 0;

    cursor: pointer;

    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}